body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    height:100vh;
    margin: 0;
    background-color: grey;
    color:antiquewhite
}
    
.frames {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height:450px;
    width:250px;
    /* flex-direction: column; */
    /* align-items: center; */
    border: 3px solid whitesmoke;
    /* padding: 1rem; */
    gap: 5px;
}

.frame {
    height: 100px;
    width: 50px;
    border: 2px solid rgb(255, 42, 0);
    border-radius: 8px;
    box-shadow: 0 0 4px 0 black(0, 0, 0, 1);
    background-image: url('./Blank.png');
    background-size: cover;
    padding: 1px;
    /* margin: 1px; */
   /*adding backface visibility and transform porperty for flipping*/
    backface-visibility: hidden;
    transform-style: preserve-3d;
    /*adding transition for flipping card*/
    transition: transform 0.5s;
} 

.frame.flipped {
    transform: rotateY(180deg);
}



/* .div {
    visibility: hidden; 
} */

.flipped {
    /* transform: rotateY(180deg); */
    background-size: 50px 100px;
}
.hide {
    padding: 10px;
    visibility: hidden;
}
.match, .showimg {
    visibility: visible !important;
}